.avatar {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.big-avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.cursor-pointer {
  cursor: pointer;
}